html, body {
    height: 100%; /* Задаем высоту html и body на 100% */
    margin: 0; /* Убираем отступы по умолчанию */
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Modern font */
}

main {
    flex: 1;
    margin: 1em auto;
    padding: 1em; /* Added padding for content within main */
    background-color: #f8f9fa; /* Light background color */
}

footer {
    flex-shrink: 0;
    background-color: #e9ecef; /* Light gray background */
    padding: 0.5em 0; /* Added padding to footer */
}
header{
    display: flex;
    justify-content: space-around;
    padding: 0.25em 0;
    align-items: center;
    position: relative;
    background-color: #fff; /* White background for header */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}
header::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    height: 1px;
    background: rgba(211, 211, 211, 0.7);
}
header p{
    margin: 0;
    padding: 0;
}
.header__logo{
    color: #007bff; /* Slightly brighter gold */
    font-size: 2em;
}
.header__menu-list{
    list-style: none;
    display: flex;
    gap: 1em;
}
.header__menu-link{
    text-decoration: none;
    color: #343a40; /* Dark gray text */
    font-size: 1em;
    position: relative;  /* Important!  Establish a positioning context */
}

.header__menu-link::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border-radius: 5px; /* Optional: Add rounded corners */
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.header__menu-link:hover::before {
    opacity: 1;
}


.header__menu-link.active {
    color: #007bff;

}
.header__menu-link:hover{
    color: #0056b3; /* Slightly darker blue on hover */

}
.footer__text{
    border-top: dimgrey 1px;
    font-size: 1em;
    text-align: center;
    color: #6c757d; /* Grayed out footer text */
}
footer{
    position: relative;
}
footer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    height: 1px;
    background: rgba(211, 211, 211, 0.7);
}
